.container {
  background-color: rgb(255, 127, 165);
  width: 700px;
  color: white;
  border-radius: 20px;
  padding: 30px;
}

.name {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 0px;
}
.sem {
  font-size: 20px;
  font-weight: lighter;
}
.major {
  font-size: 20px;
  padding: 10px 0px;
}
