.text_entry {
  height: 200px;
  width: 665px;
  border-radius: 20px;
  border: 2px solid #cdcdcd;
  border-color: rgba(107, 130, 223, 0.776);
  border: None;
  background-color: rgb(187, 202, 214);
  font-size: 14px;
}
.header {
  font-size: 34px;
}

.container {
  width: 665px;
}
.rating {
  padding-right: 10px;
  font-weight: 200;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate_bar {
  display: flex;
  align-items: center;
}
.stars {
  display: flex;
  padding-left: 30px;
  justify-content: end;
}

.publish {
  border: None;
  background-color: rgba(158, 158, 230, 0.733);
  border-radius: 20px;
  color: whitesmoke;
  font-size: 16px;
  padding: 10px;
  margin-top: 30px;
}

.publish:hover {
  background-color: rgb(70, 70, 186);
}

.title svg {
  width: 30px;
}
