.rounded {
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 30px;
    background-color: #dbdbdb;
    padding: 1em;
    box-shadow: 2px 2px 5px grey;
}

.coursetile {
    margin: 1em;
}